.user_input_section {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem 3rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19), 0px 2px 2px rgba(0, 0, 0, 0.23);
  border: 1px solid #bbbaba;
  border-radius: 0.25rem;
  margin-top: 3rem;
  transform: translate(-50%, -50%);

  .title {
    width: 100%;
    font-size: 1.8rem;
    padding: 0.8rem 0rem;
    text-align: center;
    color: rgb(20, 1, 1);
  }
  .form {
    margin-top: 2rem;

    textarea {
      width: 95%;
    }

    
    input[type="radio"] {
      position: relative;
      top: 0.05rem;
    }
    
    h2 {
      display: block;
      font-size: 1.2rem;
      margin: 1.5rem 0rem 0.5rem;
    }
    
    label {
      cursor: pointer;
      padding: 0rem 0.4rem;
      font-size: 0.9rem;
      margin-right: 1rem;
    }
    .toast_btn {
      margin-top: 2.4rem;
      display: flex;
      justify-content: center;
    }

    .message_sec {
      width: 100%;
      display: flex;
      justify-content: space-between;

      h2 {
        margin: 1.5rem 0rem 0.5rem;
      }
      div {
        flex-basis: 41%;
      }
    }
  }
}

.code_demo {
  display: flex;
  justify-content: space-between;
  word-break: break-word;

  width: 100%;
  margin: 0 auto;
  div {
    
    font-size: 0.75rem;
    flex-basis: 41%;
    padding: 0.85rem;
    border-radius: 0.25rem;

    background-color: rgb(34, 34, 34);
    color: #ddd;
    p {
      line-height: 1.1 !important;
      margin: 0.35rem 0rem;
      word-spacing: 1px;
    }
    .tagname,
    .code {
      color: rgb(63, 176, 200);
      font-size: 0.875rem;
      letter-spacing: 0.5px;
    }
    .prop_name {
      color: rgb(145, 172, 37);
    }
  }
}
